In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import csv
import matplotlib as plt
from datetime import datetime as dt
import datetime as dt

In [2]:
# Reading file
data = pd.read_csv("Deaths_Germany_years_nationality_sex_age_years_copy.csv", encoding= 'unicode_escape')

In [3]:
# Printing dataframe
data.head(50)

,Unnamed: 0,Unnamed: 1,Germans,Foreigners,Total,Germans.1,Foreigners.1,Total.1,Germans.2,Foreigners.2,Total.2
0,2000-01-01,under 1 year,1649,268,1917,1204,241,1445,2853,509,3362
1,2000-01-01,1 year,153,30,183,112,27,139,265,57,322
2,2000-01-01,2 years,78,23,101,70,17,87,148,40,188
3,2000-01-01,3 years,75,16,91,51,9,60,126,25,151
4,2000-01-01,4 years,53,9,62,36,7,43,89,16,105
5,2000-01-01,5 years,37,10,47,38,4,42,75,14,89
6,2000-01-01,6 years,56,10,66,32,2,34,88,12,100
7,2000-01-01,7 years,40,4,44,37,8,45,77,12,89
8,2000-01-01,8 years,50,8,58,34,3,37,84,11,95
9,2000-01-01,9 years,55,9,64,33,5,38,88,14,102
10,2000-01-01,10 years,46,4,50,41,6,47,87,10,97
11,2000-01-01,11 years,67,7,74,46,5,51,113,12,125
12,2000-01-01,12 years,68,9,77,38,3,41,106,12,118
13,2000-01-01,13 years,68,7,75,51,1,52,119,8,127
14,2000-01-01,14 years,76,4,80,54,9,63,130,13,143
15,2000-01-01,15 years,95,11,106,78,11,89,173,22,195
16,2000-01-01,16 years,195,8,203,85,6,91,280,14,294
17,2000-01-01,17 years,257,12,269,115,7,122,372,19,391
18,2000-01-01,18 years,411,23,434,144,12,156,555,35,590
19,2000-01-01,19 years,418,34,452,148,15,163,566,49,615
20,2000-01-01,20 years,445,52,497,143,19,162,588,71,659
21,2000-01-01,21 years,386,32,418,118,16,134,504,48,552
22,2000-01-01,22 years,377,38,415,124,8,132,501,46,547
23,2000-01-01,23 years,338,43,381,126,17,143,464,60,524
24,2000-01-01,24 years,367,44,411,116,21,137,483,65,548
25,2000-01-01,25 years,303,78,381,96,19,115,399,97,496
26,2000-01-01,26 years,345,44,389,113,14,127,458,58,516
27,2000-01-01,27 years,344,54,398,138,26,164,482,80,562
28,2000-01-01,28 years,406,62,468,155,27,182,561,89,650
29,2000-01-01,29 years,467,54,521,179,26,205,646,80,726
30,2000-01-01,30 years,505,51,556,169,20,189,674,71,745
31,2000-01-01,31 years,551,47,598,242,25,267,793,72,865
32,2000-01-01,32 years,624,50,674,284,22,306,908,72,980
33,2000-01-01,33 years,668,45,713,313,22,335,981,67,1048
34,2000-01-01,34 years,775,52,827,350,20,370,1125,72,1197
35,2000-01-01,35 years,807,64,871,388,22,410,1195,86,1281
36,2000-01-01,36 years,904,54,958,420,31,451,1324,85,1409
37,2000-01-01,37 years,987,65,1052,481,35,516,1468,100,1568
38,2000-01-01,38 years,1083,65,1148,560,27,587,1643,92,1735
39,2000-01-01,39 years,1143,73,1216,559,34,593,1702,107,1809
40,2000-01-01,40 years,1308,75,1383,582,36,618,1890,111,2001
41,2000-01-01,41 years,1390,75,1465,668,33,701,2058,108,2166
42,2000-01-01,42 years,1509,73,1582,785,43,828,2294,116,2410
43,2000-01-01,43 years,1614,70,1684,805,38,843,2419,108,2527
44,2000-01-01,44 years,1767,83,1850,867,39,906,2634,122,2756
45,2000-01-01,45 years,1863,68,1931,933,55,988,2796,123,2919
46,2000-01-01,46 years,2020,78,2098,997,35,1032,3017,113,3130
47,2000-01-01,47 years,2103,97,2200,1086,45,1131,3189,142,3331
48,2000-01-01,48 years,2345,95,2440,1189,75,1264,3534,170,3704
49,2000-01-01,49 years,2558,104,2662,1259,70,1329,3817,174,3991

In [4]:
# Renaming columns
data.rename(columns = {"Unnamed: 0" : "Year", "Unnamed: 1" : "Age",
                       "Germans": "Male_Germans", "Foreigners" : "Male Foreigners",
                       "Total" : "Total Male",
                      "Germans.1" : "Female_Germans", "Foreigners.1" : "Female Foreigners",
                       "Total.1" : "Total Fem",
                      "Germans.2" : "Total_Germans", "Foreigners.2" : "Total Foreigners",
                      "Total.2" : "Total"}, inplace = True)

# Printing
data.head(50)

,Year,Age,Male_Germans,Male Foreigners,Total Male,Female_Germans,Female Foreigners,Total Fem,Total_Germans,Total Foreigners,Total
0,2000-01-01,under 1 year,1649,268,1917,1204,241,1445,2853,509,3362
1,2000-01-01,1 year,153,30,183,112,27,139,265,57,322
2,2000-01-01,2 years,78,23,101,70,17,87,148,40,188
3,2000-01-01,3 years,75,16,91,51,9,60,126,25,151
4,2000-01-01,4 years,53,9,62,36,7,43,89,16,105
5,2000-01-01,5 years,37,10,47,38,4,42,75,14,89
6,2000-01-01,6 years,56,10,66,32,2,34,88,12,100
7,2000-01-01,7 years,40,4,44,37,8,45,77,12,89
8,2000-01-01,8 years,50,8,58,34,3,37,84,11,95
9,2000-01-01,9 years,55,9,64,33,5,38,88,14,102
10,2000-01-01,10 years,46,4,50,41,6,47,87,10,97
11,2000-01-01,11 years,67,7,74,46,5,51,113,12,125
12,2000-01-01,12 years,68,9,77,38,3,41,106,12,118
13,2000-01-01,13 years,68,7,75,51,1,52,119,8,127
14,2000-01-01,14 years,76,4,80,54,9,63,130,13,143
15,2000-01-01,15 years,95,11,106,78,11,89,173,22,195
16,2000-01-01,16 years,195,8,203,85,6,91,280,14,294
17,2000-01-01,17 years,257,12,269,115,7,122,372,19,391
18,2000-01-01,18 years,411,23,434,144,12,156,555,35,590
19,2000-01-01,19 years,418,34,452,148,15,163,566,49,615
20,2000-01-01,20 years,445,52,497,143,19,162,588,71,659
21,2000-01-01,21 years,386,32,418,118,16,134,504,48,552
22,2000-01-01,22 years,377,38,415,124,8,132,501,46,547
23,2000-01-01,23 years,338,43,381,126,17,143,464,60,524
24,2000-01-01,24 years,367,44,411,116,21,137,483,65,548
25,2000-01-01,25 years,303,78,381,96,19,115,399,97,496
26,2000-01-01,26 years,345,44,389,113,14,127,458,58,516
27,2000-01-01,27 years,344,54,398,138,26,164,482,80,562
28,2000-01-01,28 years,406,62,468,155,27,182,561,89,650
29,2000-01-01,29 years,467,54,521,179,26,205,646,80,726
30,2000-01-01,30 years,505,51,556,169,20,189,674,71,745
31,2000-01-01,31 years,551,47,598,242,25,267,793,72,865
32,2000-01-01,32 years,624,50,674,284,22,306,908,72,980
33,2000-01-01,33 years,668,45,713,313,22,335,981,67,1048
34,2000-01-01,34 years,775,52,827,350,20,370,1125,72,1197
35,2000-01-01,35 years,807,64,871,388,22,410,1195,86,1281
36,2000-01-01,36 years,904,54,958,420,31,451,1324,85,1409
37,2000-01-01,37 years,987,65,1052,481,35,516,1468,100,1568
38,2000-01-01,38 years,1083,65,1148,560,27,587,1643,92,1735
39,2000-01-01,39 years,1143,73,1216,559,34,593,1702,107,1809
40,2000-01-01,40 years,1308,75,1383,582,36,618,1890,111,2001
41,2000-01-01,41 years,1390,75,1465,668,33,701,2058,108,2166
42,2000-01-01,42 years,1509,73,1582,785,43,828,2294,116,2410
43,2000-01-01,43 years,1614,70,1684,805,38,843,2419,108,2527
44,2000-01-01,44 years,1767,83,1850,867,39,906,2634,122,2756
45,2000-01-01,45 years,1863,68,1931,933,55,988,2796,123,2919
46,2000-01-01,46 years,2020,78,2098,997,35,1032,3017,113,3130
47,2000-01-01,47 years,2103,97,2200,1086,45,1131,3189,142,3331
48,2000-01-01,48 years,2345,95,2440,1189,75,1264,3534,170,3704
49,2000-01-01,49 years,2558,104,2662,1259,70,1329,3817,174,3991

In [5]:
# Setting index to 1 
data.index += 1

# Printing
data.head(50)

,Year,Age,Male_Germans,Male Foreigners,Total Male,Female_Germans,Female Foreigners,Total Fem,Total_Germans,Total Foreigners,Total
1,2000-01-01,under 1 year,1649,268,1917,1204,241,1445,2853,509,3362
2,2000-01-01,1 year,153,30,183,112,27,139,265,57,322
3,2000-01-01,2 years,78,23,101,70,17,87,148,40,188
4,2000-01-01,3 years,75,16,91,51,9,60,126,25,151
5,2000-01-01,4 years,53,9,62,36,7,43,89,16,105
6,2000-01-01,5 years,37,10,47,38,4,42,75,14,89
7,2000-01-01,6 years,56,10,66,32,2,34,88,12,100
8,2000-01-01,7 years,40,4,44,37,8,45,77,12,89
9,2000-01-01,8 years,50,8,58,34,3,37,84,11,95
10,2000-01-01,9 years,55,9,64,33,5,38,88,14,102
11,2000-01-01,10 years,46,4,50,41,6,47,87,10,97
12,2000-01-01,11 years,67,7,74,46,5,51,113,12,125
13,2000-01-01,12 years,68,9,77,38,3,41,106,12,118
14,2000-01-01,13 years,68,7,75,51,1,52,119,8,127
15,2000-01-01,14 years,76,4,80,54,9,63,130,13,143
16,2000-01-01,15 years,95,11,106,78,11,89,173,22,195
17,2000-01-01,16 years,195,8,203,85,6,91,280,14,294
18,2000-01-01,17 years,257,12,269,115,7,122,372,19,391
19,2000-01-01,18 years,411,23,434,144,12,156,555,35,590
20,2000-01-01,19 years,418,34,452,148,15,163,566,49,615
21,2000-01-01,20 years,445,52,497,143,19,162,588,71,659
22,2000-01-01,21 years,386,32,418,118,16,134,504,48,552
23,2000-01-01,22 years,377,38,415,124,8,132,501,46,547
24,2000-01-01,23 years,338,43,381,126,17,143,464,60,524
25,2000-01-01,24 years,367,44,411,116,21,137,483,65,548
26,2000-01-01,25 years,303,78,381,96,19,115,399,97,496
27,2000-01-01,26 years,345,44,389,113,14,127,458,58,516
28,2000-01-01,27 years,344,54,398,138,26,164,482,80,562
29,2000-01-01,28 years,406,62,468,155,27,182,561,89,650
30,2000-01-01,29 years,467,54,521,179,26,205,646,80,726
31,2000-01-01,30 years,505,51,556,169,20,189,674,71,745
32,2000-01-01,31 years,551,47,598,242,25,267,793,72,865
33,2000-01-01,32 years,624,50,674,284,22,306,908,72,980
34,2000-01-01,33 years,668,45,713,313,22,335,981,67,1048
35,2000-01-01,34 years,775,52,827,350,20,370,1125,72,1197
36,2000-01-01,35 years,807,64,871,388,22,410,1195,86,1281
37,2000-01-01,36 years,904,54,958,420,31,451,1324,85,1409
38,2000-01-01,37 years,987,65,1052,481,35,516,1468,100,1568
39,2000-01-01,38 years,1083,65,1148,560,27,587,1643,92,1735
40,2000-01-01,39 years,1143,73,1216,559,34,593,1702,107,1809
41,2000-01-01,40 years,1308,75,1383,582,36,618,1890,111,2001
42,2000-01-01,41 years,1390,75,1465,668,33,701,2058,108,2166
43,2000-01-01,42 years,1509,73,1582,785,43,828,2294,116,2410
44,2000-01-01,43 years,1614,70,1684,805,38,843,2419,108,2527
45,2000-01-01,44 years,1767,83,1850,867,39,906,2634,122,2756
46,2000-01-01,45 years,1863,68,1931,933,55,988,2796,123,2919
47,2000-01-01,46 years,2020,78,2098,997,35,1032,3017,113,3130
48,2000-01-01,47 years,2103,97,2200,1086,45,1131,3189,142,3331
49,2000-01-01,48 years,2345,95,2440,1189,75,1264,3534,170,3704
50,2000-01-01,49 years,2558,104,2662,1259,70,1329,3817,174,3991

In [6]:
# Selecting columns to analyze
data = data.loc[:, ["Year", "Age", "Male_Germans", "Female_Germans", "Total_Germans"]]

# Printing
data.head(50)

          Year           Age Male_Germans Female_Germans Total_Germans
1   2000-01-01  under 1 year         1649           1204          2853
2   2000-01-01        1 year          153            112           265
3   2000-01-01       2 years           78             70           148
4   2000-01-01       3 years           75             51           126
5   2000-01-01       4 years           53             36            89
6   2000-01-01       5 years           37             38            75
7   2000-01-01       6 years           56             32            88
8   2000-01-01       7 years           40             37            77
9   2000-01-01       8 years           50             34            84
10  2000-01-01       9 years           55             33            88
11  2000-01-01      10 years           46             41            87
12  2000-01-01      11 years           67             46           113
13  2000-01-01      12 years           68             38           106
14  2000-01-01      13 years           68             51           119
15  2000-01-01      14 years           76             54           130
16  2000-01-01      15 years           95             78           173
17  2000-01-01      16 years          195             85           280
18  2000-01-01      17 years          257            115           372
19  2000-01-01      18 years          411            144           555
20  2000-01-01      19 years          418            148           566
21  2000-01-01      20 years          445            143           588
22  2000-01-01      21 years          386            118           504
23  2000-01-01      22 years          377            124           501
24  2000-01-01      23 years          338            126           464
25  2000-01-01      24 years          367            116           483
26  2000-01-01      25 years          303             96           399
27  2000-01-01      26 years          345            113           458
28  2000-01-01      27 years          344            138           482
29  2000-01-01      28 years          406            155           561
30  2000-01-01      29 years          467            179           646
31  2000-01-01      30 years          505            169           674
32  2000-01-01      31 years          551            242           793
33  2000-01-01      32 years          624            284           908
34  2000-01-01      33 years          668            313           981
35  2000-01-01      34 years          775            350          1125
36  2000-01-01      35 years          807            388          1195
37  2000-01-01      36 years          904            420          1324
38  2000-01-01      37 years          987            481          1468
39  2000-01-01      38 years         1083            560          1643
40  2000-01-01      39 years         1143            559          1702
41  2000-01-01      40 years         1308            582          1890
42  2000-01-01      41 years         1390            668          2058
43  2000-01-01      42 years         1509            785          2294
44  2000-01-01      43 years         1614            805          2419
45  2000-01-01      44 years         1767            867          2634
46  2000-01-01      45 years         1863            933          2796
47  2000-01-01      46 years         2020            997          3017
48  2000-01-01      47 years         2103           1086          3189
49  2000-01-01      48 years         2345           1189          3534
50  2000-01-01      49 years         2558           1259          3817

In [7]:
# Cleaning 'Age' column
data['Age'] = data['Age'].str.replace('years', '')

# Printing
data.head(50)

          Year           Age Male_Germans Female_Germans Total_Germans
1   2000-01-01  under 1 year         1649           1204          2853
2   2000-01-01        1 year          153            112           265
3   2000-01-01            2            78             70           148
4   2000-01-01            3            75             51           126
5   2000-01-01            4            53             36            89
6   2000-01-01            5            37             38            75
7   2000-01-01            6            56             32            88
8   2000-01-01            7            40             37            77
9   2000-01-01            8            50             34            84
10  2000-01-01            9            55             33            88
11  2000-01-01           10            46             41            87
12  2000-01-01           11            67             46           113
13  2000-01-01           12            68             38           106
14  2000-01-01           13            68             51           119
15  2000-01-01           14            76             54           130
16  2000-01-01           15            95             78           173
17  2000-01-01           16           195             85           280
18  2000-01-01           17           257            115           372
19  2000-01-01           18           411            144           555
20  2000-01-01           19           418            148           566
21  2000-01-01           20           445            143           588
22  2000-01-01           21           386            118           504
23  2000-01-01           22           377            124           501
24  2000-01-01           23           338            126           464
25  2000-01-01           24           367            116           483
26  2000-01-01           25           303             96           399
27  2000-01-01           26           345            113           458
28  2000-01-01           27           344            138           482
29  2000-01-01           28           406            155           561
30  2000-01-01           29           467            179           646
31  2000-01-01           30           505            169           674
32  2000-01-01           31           551            242           793
33  2000-01-01           32           624            284           908
34  2000-01-01           33           668            313           981
35  2000-01-01           34           775            350          1125
36  2000-01-01           35           807            388          1195
37  2000-01-01           36           904            420          1324
38  2000-01-01           37           987            481          1468
39  2000-01-01           38          1083            560          1643
40  2000-01-01           39          1143            559          1702
41  2000-01-01           40          1308            582          1890
42  2000-01-01           41          1390            668          2058
43  2000-01-01           42          1509            785          2294
44  2000-01-01           43          1614            805          2419
45  2000-01-01           44          1767            867          2634
46  2000-01-01           45          1863            933          2796
47  2000-01-01           46          2020            997          3017
48  2000-01-01           47          2103           1086          3189
49  2000-01-01           48          2345           1189          3534
50  2000-01-01           49          2558           1259          3817

In [8]:
# Cleaning 'Age' column
data['Age'] = data['Age'].str.replace(' s', '')

# Printing
data.head(50)

          Year           Age Male_Germans Female_Germans Total_Germans
1   2000-01-01  under 1 year         1649           1204          2853
2   2000-01-01        1 year          153            112           265
3   2000-01-01            2            78             70           148
4   2000-01-01            3            75             51           126
5   2000-01-01            4            53             36            89
6   2000-01-01            5            37             38            75
7   2000-01-01            6            56             32            88
8   2000-01-01            7            40             37            77
9   2000-01-01            8            50             34            84
10  2000-01-01            9            55             33            88
11  2000-01-01           10            46             41            87
12  2000-01-01           11            67             46           113
13  2000-01-01           12            68             38           106
14  2000-01-01           13            68             51           119
15  2000-01-01           14            76             54           130
16  2000-01-01           15            95             78           173
17  2000-01-01           16           195             85           280
18  2000-01-01           17           257            115           372
19  2000-01-01           18           411            144           555
20  2000-01-01           19           418            148           566
21  2000-01-01           20           445            143           588
22  2000-01-01           21           386            118           504
23  2000-01-01           22           377            124           501
24  2000-01-01           23           338            126           464
25  2000-01-01           24           367            116           483
26  2000-01-01           25           303             96           399
27  2000-01-01           26           345            113           458
28  2000-01-01           27           344            138           482
29  2000-01-01           28           406            155           561
30  2000-01-01           29           467            179           646
31  2000-01-01           30           505            169           674
32  2000-01-01           31           551            242           793
33  2000-01-01           32           624            284           908
34  2000-01-01           33           668            313           981
35  2000-01-01           34           775            350          1125
36  2000-01-01           35           807            388          1195
37  2000-01-01           36           904            420          1324
38  2000-01-01           37           987            481          1468
39  2000-01-01           38          1083            560          1643
40  2000-01-01           39          1143            559          1702
41  2000-01-01           40          1308            582          1890
42  2000-01-01           41          1390            668          2058
43  2000-01-01           42          1509            785          2294
44  2000-01-01           43          1614            805          2419
45  2000-01-01           44          1767            867          2634
46  2000-01-01           45          1863            933          2796
47  2000-01-01           46          2020            997          3017
48  2000-01-01           47          2103           1086          3189
49  2000-01-01           48          2345           1189          3534
50  2000-01-01           49          2558           1259          3817

In [9]:
# Cleaning 'Age' column
data['Age'] = data['Age'].str.replace(' and over', '')

# Printing
data.head(50)

          Year           Age Male_Germans Female_Germans Total_Germans
1   2000-01-01  under 1 year         1649           1204          2853
2   2000-01-01        1 year          153            112           265
3   2000-01-01            2            78             70           148
4   2000-01-01            3            75             51           126
5   2000-01-01            4            53             36            89
6   2000-01-01            5            37             38            75
7   2000-01-01            6            56             32            88
8   2000-01-01            7            40             37            77
9   2000-01-01            8            50             34            84
10  2000-01-01            9            55             33            88
11  2000-01-01           10            46             41            87
12  2000-01-01           11            67             46           113
13  2000-01-01           12            68             38           106
14  2000-01-01           13            68             51           119
15  2000-01-01           14            76             54           130
16  2000-01-01           15            95             78           173
17  2000-01-01           16           195             85           280
18  2000-01-01           17           257            115           372
19  2000-01-01           18           411            144           555
20  2000-01-01           19           418            148           566
21  2000-01-01           20           445            143           588
22  2000-01-01           21           386            118           504
23  2000-01-01           22           377            124           501
24  2000-01-01           23           338            126           464
25  2000-01-01           24           367            116           483
26  2000-01-01           25           303             96           399
27  2000-01-01           26           345            113           458
28  2000-01-01           27           344            138           482
29  2000-01-01           28           406            155           561
30  2000-01-01           29           467            179           646
31  2000-01-01           30           505            169           674
32  2000-01-01           31           551            242           793
33  2000-01-01           32           624            284           908
34  2000-01-01           33           668            313           981
35  2000-01-01           34           775            350          1125
36  2000-01-01           35           807            388          1195
37  2000-01-01           36           904            420          1324
38  2000-01-01           37           987            481          1468
39  2000-01-01           38          1083            560          1643
40  2000-01-01           39          1143            559          1702
41  2000-01-01           40          1308            582          1890
42  2000-01-01           41          1390            668          2058
43  2000-01-01           42          1509            785          2294
44  2000-01-01           43          1614            805          2419
45  2000-01-01           44          1767            867          2634
46  2000-01-01           45          1863            933          2796
47  2000-01-01           46          2020            997          3017
48  2000-01-01           47          2103           1086          3189
49  2000-01-01           48          2345           1189          3534
50  2000-01-01           49          2558           1259          3817

In [10]:
len(data)

2244

In [11]:
# Deleting all rows with 'Total'
data = data[data.Age != 'Total']

# Printing
data.head(50)

          Year           Age Male_Germans Female_Germans Total_Germans
1   2000-01-01  under 1 year         1649           1204          2853
2   2000-01-01        1 year          153            112           265
3   2000-01-01            2            78             70           148
4   2000-01-01            3            75             51           126
5   2000-01-01            4            53             36            89
6   2000-01-01            5            37             38            75
7   2000-01-01            6            56             32            88
8   2000-01-01            7            40             37            77
9   2000-01-01            8            50             34            84
10  2000-01-01            9            55             33            88
11  2000-01-01           10            46             41            87
12  2000-01-01           11            67             46           113
13  2000-01-01           12            68             38           106
14  2000-01-01           13            68             51           119
15  2000-01-01           14            76             54           130
16  2000-01-01           15            95             78           173
17  2000-01-01           16           195             85           280
18  2000-01-01           17           257            115           372
19  2000-01-01           18           411            144           555
20  2000-01-01           19           418            148           566
21  2000-01-01           20           445            143           588
22  2000-01-01           21           386            118           504
23  2000-01-01           22           377            124           501
24  2000-01-01           23           338            126           464
25  2000-01-01           24           367            116           483
26  2000-01-01           25           303             96           399
27  2000-01-01           26           345            113           458
28  2000-01-01           27           344            138           482
29  2000-01-01           28           406            155           561
30  2000-01-01           29           467            179           646
31  2000-01-01           30           505            169           674
32  2000-01-01           31           551            242           793
33  2000-01-01           32           624            284           908
34  2000-01-01           33           668            313           981
35  2000-01-01           34           775            350          1125
36  2000-01-01           35           807            388          1195
37  2000-01-01           36           904            420          1324
38  2000-01-01           37           987            481          1468
39  2000-01-01           38          1083            560          1643
40  2000-01-01           39          1143            559          1702
41  2000-01-01           40          1308            582          1890
42  2000-01-01           41          1390            668          2058
43  2000-01-01           42          1509            785          2294
44  2000-01-01           43          1614            805          2419
45  2000-01-01           44          1767            867          2634
46  2000-01-01           45          1863            933          2796
47  2000-01-01           46          2020            997          3017
48  2000-01-01           47          2103           1086          3189
49  2000-01-01           48          2345           1189          3534
50  2000-01-01           49          2558           1259          3817

In [12]:
# Cleaning 'Age' column
data['Age'] = data['Age'].str.replace(' year', '')

# Printing
data.head(50)

          Year      Age Male_Germans Female_Germans Total_Germans
1   2000-01-01  under 1         1649           1204          2853
2   2000-01-01        1          153            112           265
3   2000-01-01       2            78             70           148
4   2000-01-01       3            75             51           126
5   2000-01-01       4            53             36            89
6   2000-01-01       5            37             38            75
7   2000-01-01       6            56             32            88
8   2000-01-01       7            40             37            77
9   2000-01-01       8            50             34            84
10  2000-01-01       9            55             33            88
11  2000-01-01      10            46             41            87
12  2000-01-01      11            67             46           113
13  2000-01-01      12            68             38           106
14  2000-01-01      13            68             51           119
15  2000-01-01      14            76             54           130
16  2000-01-01      15            95             78           173
17  2000-01-01      16           195             85           280
18  2000-01-01      17           257            115           372
19  2000-01-01      18           411            144           555
20  2000-01-01      19           418            148           566
21  2000-01-01      20           445            143           588
22  2000-01-01      21           386            118           504
23  2000-01-01      22           377            124           501
24  2000-01-01      23           338            126           464
25  2000-01-01      24           367            116           483
26  2000-01-01      25           303             96           399
27  2000-01-01      26           345            113           458
28  2000-01-01      27           344            138           482
29  2000-01-01      28           406            155           561
30  2000-01-01      29           467            179           646
31  2000-01-01      30           505            169           674
32  2000-01-01      31           551            242           793
33  2000-01-01      32           624            284           908
34  2000-01-01      33           668            313           981
35  2000-01-01      34           775            350          1125
36  2000-01-01      35           807            388          1195
37  2000-01-01      36           904            420          1324
38  2000-01-01      37           987            481          1468
39  2000-01-01      38          1083            560          1643
40  2000-01-01      39          1143            559          1702
41  2000-01-01      40          1308            582          1890
42  2000-01-01      41          1390            668          2058
43  2000-01-01      42          1509            785          2294
44  2000-01-01      43          1614            805          2419
45  2000-01-01      44          1767            867          2634
46  2000-01-01      45          1863            933          2796
47  2000-01-01      46          2020            997          3017
48  2000-01-01      47          2103           1086          3189
49  2000-01-01      48          2345           1189          3534
50  2000-01-01      49          2558           1259          3817

In [13]:
# Cleaning 'Age' column. Under 1 is now 0
data['Age'] = data['Age'].str.replace('under 1', '0')

# Printing
data.head(50)

          Year  Age Male_Germans Female_Germans Total_Germans
1   2000-01-01    0         1649           1204          2853
2   2000-01-01    1          153            112           265
3   2000-01-01   2            78             70           148
4   2000-01-01   3            75             51           126
5   2000-01-01   4            53             36            89
6   2000-01-01   5            37             38            75
7   2000-01-01   6            56             32            88
8   2000-01-01   7            40             37            77
9   2000-01-01   8            50             34            84
10  2000-01-01   9            55             33            88
11  2000-01-01  10            46             41            87
12  2000-01-01  11            67             46           113
13  2000-01-01  12            68             38           106
14  2000-01-01  13            68             51           119
15  2000-01-01  14            76             54           130
16  2000-01-01  15            95             78           173
17  2000-01-01  16           195             85           280
18  2000-01-01  17           257            115           372
19  2000-01-01  18           411            144           555
20  2000-01-01  19           418            148           566
21  2000-01-01  20           445            143           588
22  2000-01-01  21           386            118           504
23  2000-01-01  22           377            124           501
24  2000-01-01  23           338            126           464
25  2000-01-01  24           367            116           483
26  2000-01-01  25           303             96           399
27  2000-01-01  26           345            113           458
28  2000-01-01  27           344            138           482
29  2000-01-01  28           406            155           561
30  2000-01-01  29           467            179           646
31  2000-01-01  30           505            169           674
32  2000-01-01  31           551            242           793
33  2000-01-01  32           624            284           908
34  2000-01-01  33           668            313           981
35  2000-01-01  34           775            350          1125
36  2000-01-01  35           807            388          1195
37  2000-01-01  36           904            420          1324
38  2000-01-01  37           987            481          1468
39  2000-01-01  38          1083            560          1643
40  2000-01-01  39          1143            559          1702
41  2000-01-01  40          1308            582          1890
42  2000-01-01  41          1390            668          2058
43  2000-01-01  42          1509            785          2294
44  2000-01-01  43          1614            805          2419
45  2000-01-01  44          1767            867          2634
46  2000-01-01  45          1863            933          2796
47  2000-01-01  46          2020            997          3017
48  2000-01-01  47          2103           1086          3189
49  2000-01-01  48          2345           1189          3534
50  2000-01-01  49          2558           1259          3817

In [14]:
# Changing 'Age' dtype to int
data['Age'] = data['Age'].astype('int')

# Printing
data.head(50)

          Year  Age Male_Germans Female_Germans Total_Germans
1   2000-01-01    0         1649           1204          2853
2   2000-01-01    1          153            112           265
3   2000-01-01    2           78             70           148
4   2000-01-01    3           75             51           126
5   2000-01-01    4           53             36            89
6   2000-01-01    5           37             38            75
7   2000-01-01    6           56             32            88
8   2000-01-01    7           40             37            77
9   2000-01-01    8           50             34            84
10  2000-01-01    9           55             33            88
11  2000-01-01   10           46             41            87
12  2000-01-01   11           67             46           113
13  2000-01-01   12           68             38           106
14  2000-01-01   13           68             51           119
15  2000-01-01   14           76             54           130
16  2000-01-01   15           95             78           173
17  2000-01-01   16          195             85           280
18  2000-01-01   17          257            115           372
19  2000-01-01   18          411            144           555
20  2000-01-01   19          418            148           566
21  2000-01-01   20          445            143           588
22  2000-01-01   21          386            118           504
23  2000-01-01   22          377            124           501
24  2000-01-01   23          338            126           464
25  2000-01-01   24          367            116           483
26  2000-01-01   25          303             96           399
27  2000-01-01   26          345            113           458
28  2000-01-01   27          344            138           482
29  2000-01-01   28          406            155           561
30  2000-01-01   29          467            179           646
31  2000-01-01   30          505            169           674
32  2000-01-01   31          551            242           793
33  2000-01-01   32          624            284           908
34  2000-01-01   33          668            313           981
35  2000-01-01   34          775            350          1125
36  2000-01-01   35          807            388          1195
37  2000-01-01   36          904            420          1324
38  2000-01-01   37          987            481          1468
39  2000-01-01   38         1083            560          1643
40  2000-01-01   39         1143            559          1702
41  2000-01-01   40         1308            582          1890
42  2000-01-01   41         1390            668          2058
43  2000-01-01   42         1509            785          2294
44  2000-01-01   43         1614            805          2419
45  2000-01-01   44         1767            867          2634
46  2000-01-01   45         1863            933          2796
47  2000-01-01   46         2020            997          3017
48  2000-01-01   47         2103           1086          3189
49  2000-01-01   48         2345           1189          3534
50  2000-01-01   49         2558           1259          3817

In [15]:
# Checking data types
data.dtypes

Year              object
Age                int32
Male_Germans      object
Female_Germans    object
Total_Germans     object
dtype: object

In [16]:
# Filtering rows: 65 and older, 5 and younger
data = data.loc[(data['Age'] >= 65) | (data['Age'] <= 5)]

# Printing
data.head(50)

           Year  Age Male_Germans Female_Germans Total_Germans
1    2000-01-01    0         1649           1204          2853
2    2000-01-01    1          153            112           265
3    2000-01-01    2           78             70           148
4    2000-01-01    3           75             51           126
5    2000-01-01    4           53             36            89
6    2000-01-01    5           37             38            75
66   2000-01-01   65         9243           4608         13851
67   2000-01-01   66         8495           4429         12924
68   2000-01-01   67         8355           4333         12688
69   2000-01-01   68         9100           4976         14076
70   2000-01-01   69        10017           5685         15702
71   2000-01-01   70        11299           6686         17985
72   2000-01-01   71        11913           7179         19092
73   2000-01-01   72        11606           7957         19563
74   2000-01-01   73        10973           8633         19606
75   2000-01-01   74        11063           9726         20789
76   2000-01-01   75        10629          10939         21568
77   2000-01-01   76        10169          11942         22111
78   2000-01-01   77        11130          13168         24298
79   2000-01-01   78        12212          15210         27422
80   2000-01-01   79        12506          17104         29610
81   2000-01-01   80        11951          17915         29866
82   2000-01-01   81         7235          11137         18372
83   2000-01-01   82         6228           9914         16142
84   2000-01-01   83         6605          11444         18049
85   2000-01-01   84         7259          13642         20901
86   2000-01-01   85         9820          20142         29962
87   2000-01-01   86        10226          21708         31934
88   2000-01-01   87         9645          22052         31697
89   2000-01-01   88         8487          20802         29289
90   2000-01-01   89         7329          19556         26885
91   2000-01-01   90         6367          17967         24334
92   2000-01-01   91         5334          16157         21491
93   2000-01-01   92         4228          13931         18159
94   2000-01-01   93         3216          11213         14429
95   2000-01-01   94         2422           8731         11153
96   2000-01-01   95         1721           6610          8331
97   2000-01-01   96         1254           4828          6082
98   2000-01-01   97          820           3593          4413
99   2000-01-01   98          484           2562          3046
100  2000-01-01   99          321           1594          1915
101  2000-01-01  100          422           2503          2925
103  2001-01-01    0         1581           1143          2724
104  2001-01-01    1          150            118           268
105  2001-01-01    2          100             65           165
106  2001-01-01    3           95             53           148
107  2001-01-01    4           53             59           112
108  2001-01-01    5           46             28            74
168  2001-01-01   65         8649           4487         13136
169  2001-01-01   66         9324           4926         14250

In [17]:
# Changing 'Year' data type to Date type
# '%Y-%m-%d' --> Year- month as number - day of month
data.date = pd.to_datetime(data['Year'], format = '%Y-%m-%d')

# Printing
data.head(50)

C:\Users\dell\AppData\Local\Temp\ipykernel_28444\906477485.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data.date = pd.to_datetime(data['Year'], format = '%Y-%m-%d')

           Year  Age Male_Germans Female_Germans Total_Germans
1    2000-01-01    0         1649           1204          2853
2    2000-01-01    1          153            112           265
3    2000-01-01    2           78             70           148
4    2000-01-01    3           75             51           126
5    2000-01-01    4           53             36            89
6    2000-01-01    5           37             38            75
66   2000-01-01   65         9243           4608         13851
67   2000-01-01   66         8495           4429         12924
68   2000-01-01   67         8355           4333         12688
69   2000-01-01   68         9100           4976         14076
70   2000-01-01   69        10017           5685         15702
71   2000-01-01   70        11299           6686         17985
72   2000-01-01   71        11913           7179         19092
73   2000-01-01   72        11606           7957         19563
74   2000-01-01   73        10973           8633         19606
75   2000-01-01   74        11063           9726         20789
76   2000-01-01   75        10629          10939         21568
77   2000-01-01   76        10169          11942         22111
78   2000-01-01   77        11130          13168         24298
79   2000-01-01   78        12212          15210         27422
80   2000-01-01   79        12506          17104         29610
81   2000-01-01   80        11951          17915         29866
82   2000-01-01   81         7235          11137         18372
83   2000-01-01   82         6228           9914         16142
84   2000-01-01   83         6605          11444         18049
85   2000-01-01   84         7259          13642         20901
86   2000-01-01   85         9820          20142         29962
87   2000-01-01   86        10226          21708         31934
88   2000-01-01   87         9645          22052         31697
89   2000-01-01   88         8487          20802         29289
90   2000-01-01   89         7329          19556         26885
91   2000-01-01   90         6367          17967         24334
92   2000-01-01   91         5334          16157         21491
93   2000-01-01   92         4228          13931         18159
94   2000-01-01   93         3216          11213         14429
95   2000-01-01   94         2422           8731         11153
96   2000-01-01   95         1721           6610          8331
97   2000-01-01   96         1254           4828          6082
98   2000-01-01   97          820           3593          4413
99   2000-01-01   98          484           2562          3046
100  2000-01-01   99          321           1594          1915
101  2000-01-01  100          422           2503          2925
103  2001-01-01    0         1581           1143          2724
104  2001-01-01    1          150            118           268
105  2001-01-01    2          100             65           165
106  2001-01-01    3           95             53           148
107  2001-01-01    4           53             59           112
108  2001-01-01    5           46             28            74
168  2001-01-01   65         8649           4487         13136
169  2001-01-01   66         9324           4926         14250

In [18]:
data.dtypes

Year              object
Age                int32
Male_Germans      object
Female_Germans    object
Total_Germans     object
dtype: object

In [19]:
# DATETIME FAILED ATTEMPTS
# https://www.youtube.com/watch?v=j5m9UgnP5bU
# https://stackoverflow.com/questions/12906402/type-object-datetime-datetime-has-no-attribute-datetime
# https://stackoverflow.com/questions/50109695/strptime-argument-1-must-be-str-not-series-time-series-convert
# https://www.youtube.com/watch?v=HhGkcTJmu20
# https://www.w3schools.com/python/python_datetime.asp

In [20]:
import csv
data.to_csv("Output_ML_Files/German_deaths_output.csv", index = False)